[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This pg_dump.c is an enhancedment to postgres pgdump to dump the schema of redshift database
[access "refs/*"]
	owner = group user/Naveen Bijalwan (naveenbijalwan)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Naveen Bijalwan (naveenbijalwan)
	label-Verified = -1..+1 group user/Naveen Bijalwan (naveenbijalwan)
	push = group user/Naveen Bijalwan (naveenbijalwan)
	read = group user/Naveen Bijalwan (naveenbijalwan)
	rebase = group user/Naveen Bijalwan (naveenbijalwan)
	removeReviewer = group user/Naveen Bijalwan (naveenbijalwan)
	submit = group user/Naveen Bijalwan (naveenbijalwan)
[access "refs/heads/*"]
	create = group user/Naveen Bijalwan (naveenbijalwan)
	push = +force group user/Naveen Bijalwan (naveenbijalwan)
	pushMerge = group user/Naveen Bijalwan (naveenbijalwan)
	read = group user/Naveen Bijalwan (naveenbijalwan)
[access "refs/tags/*"]
	push = group user/Naveen Bijalwan (naveenbijalwan)
	push = +force group user/Naveen Bijalwan (naveenbijalwan)
